#about {
    margin-top: 10vh;
}

#about h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: white;
}

#about p {
    text-align: center;
    font-size: 1.2em;
    color: #ccc;
    max-width: 800px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    #about h2 {
        font-size: 1.5em;
    }

    #about p {
        font-size: 1em;
        text-align: justify;
    }
}
