body{
    background-color: black;
}

main{
    margin-top: 10vh;
    width: 80%;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

#home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin-top: 10vh;

}

#home .intro {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home .intro h1 {
    font-size: 2.4em;
    color: white;
}

#home .intro p {
    font-size: 1em;
    color: #ccc;
    text-align: justify;
    margin-top: 20px;
}

#home .intro .button {
    margin-top: 5vh;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

#home .intro .button a {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

#home .intro .button #resume {
    color: white;
}

#sertifikat {
    background-color: rgb(6, 255, 6)
}

#resume {
    border: 2px solid white;
    color: white;
}

#home .intro .button #resume:hover {
    background-color: rgb(6, 255, 6);
    transition: all 0.5s;
    color: black;
}

#home img {
    width: 35%;
    height: 50vh;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
    cursor: pointer;
}

#home img:hover {
    border-right: 2px solid rgb(6, 255, 6);
    border-bottom: 2px solid rgb(6, 255, 6);
    transform: scale(1.05);
    transition: all 0.5s;
}

@media (max-width: 768px) {
    main{
        width: 90%;
        margin: 0 auto;
    }
    #home {
        flex-direction: column;
        height: auto;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    #home img {
        order: -1;
        width: 50%;
        height: 25vh;
        margin-bottom: 20px;
    }

    #home .intro {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    #home .intro h1{
        font-size: 1.5rem;
    }

    #home .intro p {
        text-align: center;
    }

    #home .intro .button {
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    #home .intro .button a:hover {
        opacity: 0.8;
    }

    #home img {
        box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    }


}